/* This stylesheet is used to style the admin option form of the plugin. */

.myicon:before { color:#75ef33; content: "\f161"; display: inline-block; -webkit-font-smoothing: antialiased; font: normal 20px/1 'dashicons'; vertical-align: top; }